.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
application/session/
index.html
503.html
applications.html
bitnami.css
favicon.ico
img/background.png
img/bitnami.png
img/header_bg.png
img/lampstack.png
img/lappstack.png
img/menu_bg.png
img/module_table_bottom.png
img/module_table_top.png
img/phpmyadmin-module.png
img/plain-background.png
img/round_table_bottom_left.png
img/round_table_bottom_right.png
img/round_table_middle_bottom.png
img/round_table_middle_left.png
img/round_table_middle_right.png
img/round_table_middle_top.png
img/round_table_top_left.png
img/round_table_top_right.png
img/sub_header_bg.png
img/tab1_applications.png
img/tab1_welcome.png
img/tab2_applications.png
img/tab2_welcome.png
img/tabs_bg.png
img/wampstack.png
