/*!

 =========================================================
 * Get Shit Done Kit - v 이 페이지에만 특화
 =========================================================
*/
.form-control {
    padding: 3px 3px;
}

h6 th{
   text-transform: lowercase;
   font-family: "돋움", dotum, "굴림", cursive;
}
body{
    font-family: "돋움", dotum, "굴림", cursive;
  }


input[type=text],
input[type=number],
input[type=password] {
    border: none;
    border-bottom: 2px solid;
    font-weight:bold;
}

input:focus {
  outline: none;
  border: none;
  border-bottom: 2px solid red;

}

.main{
  margin-top: 6em;
}

 @media only screen{
   .main{
     margin-top: 6em;
   }
  }
/*
@media (min-width: 1200px) {
    .main{
      margin-top: 3em;
    }
  }

@media (min-width: 992px) {
  .main{
    margin-top: 3em;
  }
}
@media (min-width: 768px) {
  .main{
    margin-top: 3em;
  }
} */
